#root {
	margin: 0 auto;

	--white-text: rgba(255, 255, 255, 0.87);
	--primary: #646cff;

	/* Background */
	--dark-bg-1: #111111;
	--dark-bg-2: #1a1a1a;
	--dark-bg-3: #202020;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
	height: 0.3em;
	max-width: 0.5em;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}

li {
	list-style: none;
}

input[type="radio"] {
	display: none;
}

textarea {
	padding: 0.5em;
	min-height: 200px;
	font-size: 0.9em;
	font-family: inherit;
	resize: vertical;
	border: none;
	color: var(--white-text);
	background-color: var(--dark-bg-3);
	outline: 1px solid #ffffff40;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: var(--white-text);
	background-color: var(--dark-bg-2);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--primary);
}

button:focus,
button:focus-visible {
	animation-name: borderAnimate;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes borderAnimate {
	from {
		border: 2px solid var(--primary);
	}
	to {
		border-color: transparent;
	}
}

.main {
	margin: 0 auto;
	padding: 1rem;
	max-width: 1440px;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

.navbar {
	padding: 1em 1.2em;
	display: flex;
	gap: 0.4em;
	justify-content: space-around;
	align-items: center;
	color: var(--white-text);
	box-shadow: 0px 3px 3px #ffffff10;
}

.navbar .logo {
	height: 40px;
	display: flex;
	gap: 0.2em;
	align-items: center;
	text-align: center;
	color: var(--primary);
	cursor: pointer;
}

.navbar ul {
	height: 40px;
	padding: 0;
	display: flex;
	gap: 0.2em;
	align-items: center;
}

.navbar ul li a {
	color: var(--white-text);
	padding: 0.7em 1.2em;
	border-radius: 0.5em;
	cursor: pointer;
}

.navbar ul li a:hover {
	background-color: #ffffff09;
}

.textarea-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.form-container {
	flex: 1 0 min(250px, 99%);
	display: flex;
	justify-content: flex-start;
	text-align: start;
	flex-direction: column;
	gap: 0.5em;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.btn {
	display: flex;
	gap: 0.5em;
	justify-content: space-between;
	align-items: center;
}

.tab-section {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.tab {
	padding: 0.5em;
	border-radius: 5px;
	background-color: var(--dark-bg-2);
}

.tab,
.tab label {
	cursor: pointer;
}

.tab:has(input[type="radio"]:checked) {
	background-color: var(--primary);
}

.tab:hover {
	outline: 1px solid var(--primary);
}

.result {
	max-height: 700px;
	overflow: auto;
	width: fit-content;
}

.table {
	min-width: calc(240px, 95vw);
	width: calc(100vw - 2em);
	max-width: 350px;
	background-color: #ffffff30;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
}

.table a {
	color: var(--white-text) !important;
	font-weight: normal;
	text-decoration: inherit;
	position: relative;
	padding: 5px 10px;
	cursor: pointer;
}

.ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table a:hover {
	text-decoration: underline;
}

.table a:nth-child(even) {
	background-color: #ffffff70;
}
